#main-head {
    font-size: 70px
}

.jumbotron {
    text-align: center;
}

.card-header {
    text-align: left;
}

#sub-head {
    border-top: 1px gray solid
}

.waiting {
    margin-top: 20px;
}

footer {
    margin-top: 10px;
}